


.wrapper{
    width: 500px;
}

section{
    margin-top: 30px;
}

.section-header{
    background-color: rgb(178, 221, 206);
    height: 60px;
}
h1{
    line-height: 60px;
    text-align: center;
}

.sub-section-header{
    background-color: rgb(178, 221, 206);
    height: 40px;
}
h3{
    line-height: 40px;
    text-align: center;
}


.function-cover{
    padding: 3px;
    width: 500px;
}

.input-function-area{
    display: flex;
    height: 110px;
    justify-content: center;
}
.function-from{
    line-height: 110px;
    text-align: center;
}
.input-function-list{
    display: flex;
    flex-direction: column;
}
.input-function-list *{
    margin: 1px;
}

.send-button-area{
    text-align: center;
}


.display-graph-cover{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rotated-symbol{
    display: inline-block;
    transform: rotate(-90deg);
}